<ion-header>
  <ion-toolbar>
    <ion-title>Chronomètre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button fill="clear" (click)="goBack()">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Retour
  </ion-button>
  <div class="timer-container">
    <h1>{{ timeLeft }}s</h1>
    <ion-button expand="block" (click)="startTimer()">Démarrer</ion-button>
    <ion-button expand="block" color="warning" (click)="pauseTimer()">Pause</ion-button>
    <ion-button expand="block" color="danger" (click)="resetTimer()">Réinitialiser</ion-button>
  </div>
</ion-content>
