<ion-header>
  <ion-toolbar>
    <ion-title>Historique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="clear" (click)="goBack()">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Retour
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let session of sessions">
      <ion-label>
        <h2>Exercice : {{ session.workoutName }}</h2>
        <p>Durée : {{ session.duration }} minutes</p>
        <p>Date : {{ session.date | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
